# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
FileOpenOrder/

# Project files
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.opendb

# IDE
.idea/
.vs/
.vscode/

# Other
*.log
.DS_Store
